# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/*.pem

# SAM
**/.aws-sam/
**/samconfig.toml

# Node.js
**/node_modules/
**/dist/
**/*.zip
**/coverage/

# Lambda Layer
**/layer/python/

# AI Agent
CLAUDE.md
AGENTS.md
.githooks/
